---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Project from '../components/Project.astro';
import Team from '../components/Team.astro';
import OpenSource from '../components/OpenSource.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ordomation - Intelligent Business Automation">
	<Nav />
	<main>
		<Hero />
		<Features />
		<Project />
		<Team />
		<OpenSource />
	</main>
	<Footer />
</Layout>
