---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Journey from '../components/Journey.astro';
import Vision from '../components/Vision.astro';
import PainPoints from '../components/PainPoints.astro';
import Benefits from '../components/Benefits.astro';
import Founders from '../components/Founders.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ordomation - Intelligent Business Automation">
	<main>
		<Hero />
		<Journey />
		<Vision />
		<PainPoints />
		<Benefits />
		<Founders />
	</main>
	<Footer />
</Layout>
